.list-cast {

    display: flex;
    gap: 17px;
    overflow-x: auto;

      width: 100%;
      height: 100%;
  
      overflow-x: auto;
      /* cuộn mượt */
      scroll-behavior: smooth;
    // Ẩn thanh scroll
      scrollbar-width: none;
      /* Ẩn trên Firefox */
      -ms-overflow-style: none;
      /* Ẩn trên IE và Edge cũ */

      &::-webkit-scrollbar-track {
          display: none;
      }

   
}

.row-cast {
    width: 100px;
    height: 158px;
    // max-height: 158px;

}

.i {
       width: 73px;
    height: 73px;
    overflow: hidden;
    border: solid transparent;
    transition: border .2s ease;
    border-radius: 50%;



    img {
        width: 100%;
        height: 100%;

        object-fit: cover;

    }

    &:hover {
        border: solid #ffff;
    }
}

.cast-name {
    margin-top: 5px;
    text-align: center;
    overflow: hidden;

    p {
        font-size: 12px;
    }

}
@media screen and (min-width: 60em) {


    .list-cast {

        display: flex;
        gap: 17px;
        overflow-x: auto;
    
        /* Cuộn mượt trên iOS */
        -webkit-overflow-scrolling: touch;
    
        // ngăn trang cha (toàn trang web) cuộn khi cuộn trong danh sách con
        overscroll-behavior: contain;
    
        // Cuộn mượt hơn
        scroll-behavior: smooth;
    
        // Css thay cuộn
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: transparent;
        }
    
        ;
    
       
    }
    
    .row-cast {
        width: 100px;
        height: 158px;
        // max-height: 158px;
    
    }
    
    .i {
        width: 96px;
        height: 96px;
        overflow: hidden;
        border: solid transparent;
        transition: border .2s ease;
        border-radius: 50%;
    
    
    
        img {
            width: 100%;
            height: 100%;
    
            object-fit: cover;
    
        }
    
        &:hover {
            border: solid #ffff;
        }
    }
    
    .cast-name {
        margin-top: 5px;
        text-align: center;
        overflow: hidden;
    
        p {
            font-size: 12px;
        }
    
    }

}