.list-cast {

    display: flex;
    gap: 17px;
    overflow-x: auto;

      width: 100%;
      height: 100%;
  
      overflow-x: auto;
      /* cuộn mượt */
      scroll-behavior: smooth;
    // Ẩn thanh scroll
      scrollbar-width: none;
      /* Ẩn trên Firefox */
      -ms-overflow-style: none;
      /* Ẩn trên IE và Edge cũ */

      &::-webkit-scrollbar-track {
          display: none;
      }

   
}

.row-cast {
    width: 100px;
    height: 158px;
    // max-height: 158px;

}

.i {
       width: 73px;
    height: 73px;
    overflow: hidden;
    border: solid transparent;
    transition: border .2s ease;
    border-radius: 50%;



    img {
        width: 100%;
        height: 100%;

        object-fit: cover;

    }

    &:hover {
        border: solid #ffff;
    }
}

.cast-name {
    margin-top: 5px;
    text-align: center;
    overflow: hidden;

    p {
        font-size: 12px;
    }

}