@import 'normalize.css';

:root {
    --black: #000;
    --white: #ffff;
    --text-color: #333;
}

// Reset thuộc tính chung
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// html là phần tử gốc (root element) bao trùm toàn bộ trang. Nó chứa head và body. Thường set đơn vị
html {
    font-size: 65%;


}

// Scroll bar CSS

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.08);
}


html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}


// body: phần nội dung hiển thị trên trang (text, ảnh, button, ...). Thường set font
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", "Noto Sans", "Liberation Sans",
        Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility; //hiển thị chữ, mượt hơn
    background-color: #191b24;
    font-weight: 400;
}

// Mặc định bỏ các boder line của các nút button hay ô input

button,
input,
[tabindex] {
    outline: none;
    border: none
}

// Mặc định thẻ a có href là màu đen
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;

}
h2 {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    color: #fff;
}
img,
svg {
    vertical-align: middle; //(img, svg) đứng cạnh text để chúng cân giữa, tránh bị lệch.
}

button:hover {
    cursor: pointer;
}

.hl-tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .6rem;
    margin-bottom: .75rem;
    margin-bottom: 1.25rem;

}

.tag-model {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    display: flex;
    overflow: hidden;
    cursor: default;
    line-height: 26px;
    padding: 0 .5rem;
    flex-shrink: 0;
}

.tag-classic {
    border: 1px solid #fff;
}

.tag-classic,
.tag-topic {
    background-color: #ffffff10;
    height: 26px;
    // width: 50px; 
    padding: 0 .4rem;
    color: #fff;
    display: inline-flex;
}

.tag-model,
.tag-classic,
.tag-topic {
    border-radius: .33rem;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.row-content {
    position: relative;

    .topics-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(238px, 1fr)); // tự động xuống dòng
        gap: 1.8rem;


        .row-topic {
            padding: 1.2rem 2.5rem 1.2rem 1.5rem;
            border-radius: 0.75rem;
            overflow: hidden;
            // width: 240px; không được cho width ở đây vì đang dùng auto-fit: nó sẽ tự giãn đều hàng khi thay đổi kích thước  
            height: 152px;
            align-items: center;
            display: flex;
            transition: transform 0.3s ease;

        }
    }
}

.heading-md {
    color: #fff;
    max-width: 210px;
    text-shadow: 0 1px 0 #0002;
    font-weight: 700;
    font-size: 1.6em;
    line-height: 1.3;
}

.category-name {
    font-size: 2em;
    line-height: 1.4;
    font-weight: 600;
    margin: 0;
    color: var(--category-name);
    text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
    margin: 150px 0 50px;
}

.v-pagination {
    gap: 1rem;
    width: 100%;
    justify-content: center;
    margin: 4rem 0;
}

.page-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: .7rem;
    border-radius: 3rem;
    background-color: #2f3346;
    color: #ffff;
    //    #2f3346

}

.btn i {
    font-size: .9em;
    color: #fff;
}

.fa-solid,
.fas {
    font-weight: 900;
}

.v-pagination .page-current {
    height: 50px;
    padding: 0 1.2rem;
    border-radius: 3rem;
    background-color: #2f3346;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}