.category-name {
    margin: 20px;
}


.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1900px;
    // color: #ffff;

    .fluid-gap {
        // Khoảng cách khe hỏ dưới
        display: flex;
        flex-direction: column;
        gap: 50px;


    }




}

.sw-next,
.sw-prev {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 12px 50%;
    transform: translate(-50%, -50%);
}

.sw-prev {
    right: -50px;
}



.swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 16px;
    column-gap: .5rem;
    row-gap: 1.5rem;

    .swiper-slide {
        border-radius: 12px 4px;
        flex-shrink: 0;
        width: 100%;
        height: 100%;

        .sw-cover_a {

            position: relative;


        }

        img {
            width: 100%;
            height: 292px;
            border-radius: 12px 12px;
            object-fit: cover;
        }

        .pin-new {
            position: absolute;
            bottom: 0%;
            padding: .2rem .5rem;
            font-size: 14px;
            font-weight: 400;
            background-color: #5e6070;
            color: #fff;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        .h-item {
            .item-title {
                color: #fff;
                font-size: 1em;
                cursor: pointer;

                a {
                    font-weight: 500;
                }
            }

            .alias-title {
                line-height: 1.5;

                a {
                    color: #aaa;
                }

            }

            .item-title,
            .alias-title {
                line-height: 1.5;
                font-size: .9em;
                margin-top: 5px;
                font-weight: 400;
            }
        }
    }
}

.item-title,
.alias-title {

    p {
        text-align: center;
    }
}

@media screen and (min-width:46.25em) and (max-width: 63.9375em) {

    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 0 16px;
        column-gap: .5rem;
        row-gap: 1.5rem;

        .swiper-slide {


            img {
                width: 140px;
                height: 210px;
                border-radius: 12px 12px;
                object-fit: cover;
            }
        }
    }


}

@media screen and (min-width: 60em) {
    .category-name {
        margin-top: 100px;
        font-size: 30px;
    }
        .cards-row {
            width: 100%;
            // height: 300px; 
            // padding: 0 20px;

            .row-header {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                position: relative;
                min-height: 44px;
                margin-bottom: 1.2rem;

                .category-name {
                    line-height: 1.4;
                    font-weight: 600;
                    margin: 0;
                    color: #ffff;
                    text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
                }
            }

            .row-content {
                position: relative;

                .topics-list {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(238px, 1fr)); // tự động xuống dòng
                    gap: 1.8rem;


                    .row-topic {
                        padding: 1.2rem 2.5rem 1.2rem 1.5rem;
                        border-radius: 0.75rem;
                        overflow: hidden;
                        // width: 240px; không được cho width ở đây vì đang dùng auto-fit: nó sẽ tự giãn đều hàng khi thay đổi kích thước  
                        height: 152px;
                        align-items: center;
                        display: flex;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: translateY(-10px);

                        }

                        &:nth-child(1) {
                            background-color: rgb(50, 79, 209);

                        }

                        &:nth-child(2) {
                            background-color: rgb(102, 102, 153);
                        }

                        &:nth-child(3) {
                            background-color: rgb(27, 133, 108);
                        }

                        &:nth-child(4) {
                            background-color: rgb(119, 97, 180);
                        }

                        &:nth-child(5) {
                            background-color: rgb(205, 126, 95);
                        }

                        &:nth-child(6) {
                            background-color: rgb(167, 57, 57);
                        }

                        &:nth-child(7) {
                            background-color: rgb(167, 57, 57);

                        }





                    }
                }
            }

            .heading-md {
                color: #fff;
                max-width: 210px;
                text-shadow: 0 1px 0 #0002;
                font-weight: 700;
                font-size: 1.6em;
                line-height: 1.3;
            }
        }

        .wrapper {
            width: 100%;
            margin: 0 auto;
            max-width: 1900px;
            // color: #ffff;

            .fluid-gap {
                // Khoảng cách khe hỏ dưới
                display: flex;
                flex-direction: column;
                gap: 50px;


            }




        }

        .sw-next,
        .sw-prev {
            position: absolute;
            top: 50%;
            z-index: 2;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }

        .sw-prev {
            right: -50px;
        }

        .topics-list {
            display: flex;
            border-radius: 1rem;
            background: rgb(40, 43, 58);
            background: linear-gradient(0deg, rgba(40, 43, 58, 0) 20%, rgba(40, 43, 58, 1));
            padding: 2rem;
            gap: 2rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;

            .row-topic {
                background-color: transparent;
                padding: 0;
                align-items: center;
                display: flex;
                gap: 1rem;
                // justify-content: space-between;

                .intro {
                    flex-grow: 1;
                }

                .row-content {
                    flex-grow: 20
                }
            }

            // .topics-list.single .row-topic .intro {
            //     padding-right: 1.5rem;
            //     padding-left: .5rem;
            //     gap: 1.5rem;
            //     flex-shrink: unset;
            //     flex-grow: 1;
            // }
        }

        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
            gap: 1.8rem;

            .swiper-slide {
                // height: 61px;
                // border: 1px solid;
                border-radius: 4px;
                width: 390px;
                margin-right: 16px;
                flex-shrink: 0;
                width: 100%;
                height: 100%;

                .sw-cover_a {
                    display: block;
                    transition: transform 0.5s;
                    position: relative;

                    &:hover {
                        transform: translateY((-10px));
                    }
                }


                img {
                    width: 100%;
                    height: 400px;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    object-fit: cover;
                }

                .pin-new {
                    position: absolute;
                    bottom: 0%;


                    padding: .2rem .5rem;
                    font-size: 14px;
                    font-weight: 400;
                    background-color: #5e6070;
                    color: #fff;

                }

                .h-item {

                    .item-title {
                        color: #fff;
                        font-size: 1em;
                        cursor: pointer;

                        a {
                            font-weight: 500;

                        }
                    }

                    .alias-title {
                        line-height: 1.5;

                        a {
                            color: #aaa;
                        }

                    }

                    .item-title,
                    .alias-title {
                        line-height: 1.5;
                        font-size: .9em;
                        margin-top: 5px;

                        font-weight: 400;
                    }
                }
            }
        }



}