.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1900px;
    // color: #ffff;
        margin-top: 34px;

    .fluid-gap {
        // Khoảng cách khe hỏ dưới
        display: flex;
        flex-direction: column;
        gap: 60px;


    }


}

