.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    color: #ffff;
    padding: 10px 54px;
    gap: 17rem;
    position: absolute;
    z-index: 10;
    transition: background-color 0.4s ease;

}

.header.fixed {
    // position: fixed;
    background-color: #0f111a;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;

}


.logo_ {
    // flex-grow : 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    background-color: red;
    width: 348px;
    position: absolute;
    left: 10px;
    right: 71px;
    width: auto;
    max-width: none;
    display: flex;
    /* border-radius: 0.4rem; */
    height: 60px;
    // background-color: rgba(255, 255, 255, .08);
    // width: 310px;
    // position: relative;

    // display: flex;
    // border-radius: .4rem;
    // height: 44px;

    .search-btn {
        height: 100%;
        font-size: 1.8rem;
        color: rgba(22, 24, 35, 0.34);

        &:hover {
            cursor: pointer;
            background-color: rgba(22, 24, 35, 0.03);
        }
    }


    input {
        flex: 1; // Để đẩy mấy cái nút tràn sàng bên phải
        height: 100%;
        font-size: 1.6rem;
        padding-right: 40px;
        margin-left: 8px;
        border: none;
        outline: none; // ẩn khung khi click vào
        background-color: transparent;
        color: #fff;

        &::placeholder {
            color: #fff;
        }



    }

    &::after {
        content: '';
        position: absolute;
        right: 50px;
        width: 1px;
        top: 50px; //top này sẽ bằng 18  đôi ra
        height: 50px; // calc(var(--search-height) - 18px= 9*2);
        background-color: rgba(22, 24, 35, 0.12);
    }





}

.clear,
.loading {
    position: absolute;
    right: 40px;
    // top: 50%; 
    /* width: 41px; */
    height: 100%;
    transform: translateY(3%);
    color: #fff;
    border-radius: 0.4rem;
    background-color: transparent;
}

.loading {
    top: 50%;
}

.loading {
    animation: spinner 1s linear infinite
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }

    to {
        transform: translateY(-50%) rotate(360deg);
    }

}



img {
    width: auto;
    height: 64px;

}

.el-group {
    // width: 80rem;
    flex-grow: 1;
    display: flex;
    // flex-grow : 4;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    :hover {
        color: #FFD875;
    }
}

.home {
    font-size: 16px;

}



// Mobile
@media only screen and (max-width: 46.1875em) {
    .header {
        height: 60px;

        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        background-color: #0f111a;
        ;
        color: white;
        padding: 0px 6px;
        position: relative;
        z-index: 10;
        gap: 0;
        transition: background-color 0.4s ease;

    }


    .bars {
        display: block;
        // display: none;
        width: 20px;
        height: 20px;
        /* position: relative; */
        margin: 0 20px;
    }
    .bars.for-mobile_search {
        display: block;
        // display: none;
    }
    .bars.for-mobile_close{
        display: block;
        // display: none;
    }

    .search {
        // opacity: 0;
        display: block;

    }

    .el-group {
        display: none;
    }

    .top-slide {
        position: relative;
        /* height: 700px; */
        z-index: 1;
        /* max-width: 1900px; */
        margin: 0 auto;
        overflow: hidden;
        z-index: 2;
        align-items: flex-end;

    }

    .abc {
        margin-top: 60px;
    }

    // Slide
    .description {
        display: none;
    }


}