
.player-ratio {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 /9;

}

.player-ratio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: auto;

}
  .tag-model, .tag-classic, .tag-topic {
    border-radius: 0.33rem;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0.25rem;
    height: 20px;
    color: #fff;

}
.tag-classic, .tag-topic {
    background-color: rgba(255, 255, 255, 0.062745098);
    padding: 0 0.4rem;
    color: #fff;
    font-size: 12px;

    display: inline-flex
;

}

.wrapper {
  color: #FFF;
  margin: 48px auto;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1640px;
  padding: 0 20px;
  // margin: 0 auto;

}

.watch-player {


  h2 {
    font-weight: 600;
    line-height: 1.5;
    // margin-bottom: .5rem;
    color: #fff;
  }

  .title {}



}

.watch-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 40px;
  padding: 0 16px;

  .wm-info {
    display: flex;
    gap: 1.5rem;

    .thumb {


      img {
        width: 150px;
        /* width: 200px; */
        height: 190px;
        border-radius: 8px;

        object-fit: cover;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;


    h2 {
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: .5rem;
      color: #fff;
    }

    .alias-name {
      color: #ffd875;
      margin-bottom: 1.25rem;
    }
  }

  .detail-more {
    .hl-tags {
      margin-bottom: 0.6rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-right: 3px;
      gap: 0.6rem;
    }
  }


}

.episodes-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

  .eps_hl-tags {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;

    

  }
.eps_tag-topic {
      width: 53px;
      color: #fff;
      font-size: 9px;
      background-color: hsla(0, 0%, 100%, .063);
      align-items: center;
      border-radius: .33rem;
      height: 20px;
      justify-content: center;
      line-height: 18px;
      display: inline-flex;
    }
.status {
  .status.on-going {
    color: #fff;
    font-size: 11px;
  }
}
.hl-tags.flex {
      display: flex
;
    gap: 3px;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.custom-spin {
  animation: fa-spin 0.9s linear infinite;
}




.desc-line {
  color: #aaa;
}

.status {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 60em) {

  .wrapper {

    color: #FFF;
    margin: 48px auto;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1640px;
    padding: 0 20px;
    margin-top: 100px;

  }

  .watch-player {


    h2 {
      font-weight: 600;
      line-height: 1.5;
      // margin-bottom: .5rem;
      color: #fff;
    }

   

  }

  .watch-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 40px;

    .wm-info {
      display: flex;
      gap: 1.5rem;
      // width: 100px;

      .thumb {
        // width: 100%;
        // padding-bottom: 150%;

        img {
          width: 100%;
          height: 280px;
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: .5rem;
        color: #fff;
        font-size: 26px;
      }

      .alias-name {
        color: #ffd875;
        margin-bottom: 1.25rem;
        font-size: 20px;
      }
    }

    .detail-more {
      .hl-tags {
        margin-bottom: 1.25rem;

        .tag-model {
          // font-size: 16px;
        }
      }

      .tag-classic {}

      .status {
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 16px;
        gap: 2px;
        margin-top: 0.6rem;

        .loading-d {
          animation: spin 1s linear infinite;

        }

        @keyframes spin {
          from {
            transform: rotate(0);
          }

          to {
            transform: rotate(360deg);
          }

        }


      }
    }


  }




  .desc-line {
    color: #aaa;

    p {
      font-size: 20px;
    }
  }
  .tag-model, .tag-classic, .tag-topic {
    border-radius: 0.33rem;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0.25rem;
    height: 20px;
    color: #fff;

}
.tag-classic, .tag-topic {
    background-color: rgba(255, 255, 255, 0.062745098);
    padding: 0 0.4rem;
    color: #fff;
    font-size: 12px;

    display: inline-flex
;

}
.episodes-list {
  .server-list {
   .tag-topic {
    
   } 
  }
}



}