.loading-screen {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.65);
  z-index: 9999;
  // pointer-events: none; 
  color: white;
}

.loading-icon {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}
