  .h-item {
      margin-top: 5px;
      margin-left: 5px;
      overflow: hidden;

      .item-title {
          font-size: 16px;
          font-weight: 600;
          color: #fff;
          font-size: 1em;
          cursor: pointer;

          a {
              font-weight: 500;

          }
      }

      .alias-title {
          color: #aaa;
          font-size: 14px;
          margin: 0;
      }
  }


  .topics-list {
      border-radius: 1rem;
      background: linear-gradient(0deg, rgba(40, 43, 58, 0) 20%, rgba(40, 43, 58, 1));
      padding: 2rem;

  }



  .cards-slide-wrapper {
      max-width: 131rem;
      width: 100%;

  }

  .row-topic {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .intro {
          width: auto;
          padding: 19px
      }
  }

  .swiper-wrapperr {
      display: flex;
      gap: 2rem;
      /* cho phép cuộn ngang */
      overflow-x: hidden;
      /* cuộn mượt */
      scroll-behavior: smooth;
  }


  .sw-cover_a {
   position: relative;
  border-radius: 8px;
  overflow: hidden; /* giữ border-radius khi ảnh scale */


  }

  .sw-cover img {
      width: 325px;
      //   width: 100%;
      height: 467px;
      object-fit: cover;
      transition: transform .3s ease;
      border-radius: 8px;


      &:hover{
        transform: scale(1.05);
      }
  }

  .row-content {
      position: relative;
  }

  button.sw-button.sw-prev {
      right: 0%;
      transform: translate(50%, -50%);
  }
.swiper-wrapper {
    display: flex
;
}
  .sw-next,
  .sw-prev {
      position: absolute;
      top: 50%;
      z-index: 2!important;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transform: translate(-50%, -50%);

      &:hover {
        background-color: #babbc1;
      }
  }

  .pin-new {
      position: absolute;
      bottom: 0%;

      z-index: 2;


      padding: .2rem .5rem;
      font-size: 14px;
      font-weight: 400;
      background-color: #5e6070;
      color: #fff;

  }