  .h-item {
      margin-top: 5px;
      margin-left: 5px;
      overflow: hidden;

      .item-title {
          font-weight: 400;
          color: #fff;
          cursor: pointer;
          font-size: 13px;


          a {
              font-weight: 500;
              font-size: 10px;

          }
      }

      .alias-title {
          color: #aaa;
          font-weight: 500;
          font-size: 10px;

          margin: 0;
      }
  }

  .line-center {
      font-size: 10px;
  }

  .topics-list {
      border-radius: 1rem;
      background: linear-gradient(0deg, rgba(40, 43, 58, 0) 20%, rgba(40, 43, 58, 1));
      padding: 2rem;

  }



  .cards-slide-wrapper {
      width: 100%;
      height: 350x;

  }

  .row-topic {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow-x: auto;
      padding: 0 16px;

      .intro {
          width: auto;
          //   padding: 19px
      }
  }

  .swiper-wrapper {
      width: 100%;
      height: 100%;
      // height: 361px;
      //   gap: 2rem;
      /* cho phép cuộn ngang */
      overflow-x: auto;
      /* cuộn mượt */
      scroll-behavior: smooth;
      scrollbar-width: none;
      /* Ẩn trên Firefox */
      -ms-overflow-style: none;
      /* Ẩn trên IE và Edge cũ */

      &::-webkit-scrollbar-track {
          display: none;
      }
  }

  .sw-navigation {
      display: none;
  }


  .sw-cover_a {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      /* giữ border-radius khi ảnh scale */


  }

  .sw-cover img {
      width: 119px;
      height: 178px;
      ;
      object-fit: cover;
      transition: transform 0.3s ease;
      border-radius: 8px;

      &:hover {
          transform: scale(1.05);
      }
  }

  .row-content {
      position: relative;
  }

  button.sw-button.sw-prev {
      right: 0%;
      transform: translate(50%, -50%);
  }

  .swiper-slide {
      margin-right: 8px;


  }

  .swiper-wrapper {
      display: flex;
  }

  .sw-next,
  .sw-prev {
      position: absolute;
      top: 50%;
      z-index: 2 !important;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transform: translate(-50%, -50%);

      &:hover {
          background-color: #babbc1;
      }
  }

  .pin-new {
      position: absolute;
      bottom: 0%;
      z-index: 2;
      padding: .2rem .5rem;
      background-color: #5e6070;
      color: #fff;

  }