// .h-item {
//     margin-top: 5px;
//     margin-left: 5px;
//     overflow: hidden;

//     .item-title {
//         font-weight: 400;
//         color: #fff;
//         cursor: pointer;
//         font-size: 13px;


//         a {
//             font-weight: 500;
//             font-size: 10px;

//         }
//     }

//     .alias-title {
//         color: #aaa;
//         font-weight: 500;
//         font-size: 10px;

//         margin: 0;
//     }
// }

// .line-center {
//     font-size: 10px;
// }

// .topics-list {
//     border-radius: 1rem;
//     background: linear-gradient(0deg, rgba(40, 43, 58, 0) 20%, rgba(40, 43, 58, 1));
//     padding: 2rem;

// }



// .cards-slide-wrapper {
//     width: 100%;
//     height: 350x;

// }

// .row-topic {
//     display: flex;
//     flex-direction: column;
//     gap: 1rem;
//     overflow-x: auto;
//     padding: 0 16px;

//     .intro {
//         width: auto;
//         //   padding: 19px
//     }
// }

// .swiper-wrapper {
//     width: 100%;
//     height: 100%;
//     // height: 361px;
//     //   gap: 2rem;
//     /* cho phép cuộn ngang */
//     overflow-x: auto;
//     /* cuộn mượt */
//     scroll-behavior: smooth;
//     scrollbar-width: none;
//     /* Ẩn trên Firefox */
//     -ms-overflow-style: none;
//     /* Ẩn trên IE và Edge cũ */

//     &::-webkit-scrollbar-track {
//         display: none;
//     }
// }

// .sw-navigation {
//     display: none;
// }


// .sw-cover_a {
//     position: relative;
//     border-radius: 8px;
//     overflow: hidden;
//     /* giữ border-radius khi ảnh scale */


// }

// .sw-cover img {
//     width: 119px;
//     height: 178px;
//     ;
//     object-fit: cover;
//     transition: transform 0.3s ease;
//     border-radius: 8px;

//     &:hover {
//         transform: scale(1.05);
//     }
// }

// .row-content {
//     position: relative;
// }

// button.sw-button.sw-prev {
//     right: 0%;
//     transform: translate(50%, -50%);
// }

// .swiper-slide {
//     margin-right: 8px;


// }

// .swiper-wrapper {
//     display: flex;
// }

// .sw-next,
// .sw-prev {
//     position: absolute;
//     top: 50%;
//     z-index: 2 !important;
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     transform: translate(-50%, -50%);

//     &:hover {
//         background-color: #babbc1;
//     }
// }

// .pin-new {
//     position: absolute;
//     bottom: 0%;
//     z-index: 2;
//     padding: .2rem .5rem;
//     background-color: #5e6070;
//     color: #fff;

// }

// @media screen and (min-width:46.25em) and (max-width: 63.9375em) {


//     .sw-cover img {
//         width: 189px;
//         height: 283px;
//         object-fit: cover;
//         transition: transform 0.3s ease;
//         border-radius: 8px;

//         &:hover {
//             transform: scale(1.05);
//         }

//     }



// }

/* Pc: width >= 1024px */
@media screen and (min-width: 60em) {
    .sw-navigation {
        display: block;
    }


    .h-item {
        margin-top: 5px;
        margin-left: 5px;
        overflow: hidden;

        .item-title {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            font-size: 1em;
            cursor: pointer;

            a {
                font-weight: 500;

            }
        }

        .alias-title {
            color: #aaa;
            font-size: 14px;
            margin: 0;
        }
    }


    .topics-list {
        border-radius: 1rem;
        background: linear-gradient(0deg, rgba(40, 43, 58, 0) 20%, rgba(40, 43, 58, 1));
        padding: 2rem;

    }



    .cards-slide-wrapper {
        max-width: 183rem;
        width: 100%;

    }

    .row-topic {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0 24px;


        .intro {
            width: 15%;
        }
    }



    .swiper-wrapper {
        display: flex;
        overflow: hidden;
        /* cuộn mượt */
        scroll-behavior: smooth;
        gap: 20px;
    }


    .sw-cover_a {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        /* giữ border-radius khi ảnh scale */


    }

    .sw-cover img {
        width: 325px;
        height: 467px;
        object-fit: cover;
        transition: transform .3s ease;
        border-radius: 8px;


        &:hover {
            transform: scale(1.05);
        }
    }

    .row-content {
        position: relative;
        width: 85%;
    }

    button.sw-button.sw-prev {
        right: 0%;
        transform: translate(50%, -50%);
    }

    .swiper-wrapper {
        display: flex;
    }

    .sw-next,
    .sw-prev {
        position: absolute;
        top: 50%;
        z-index: 2 !important;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transform: translate(-50%, -50%);

        &:hover {
            background-color: #babbc1;
        }
    }

    .pin-new {
        position: absolute;
        bottom: 0%;

        z-index: 2;


        padding: .2rem .5rem;
        font-size: 14px;
        font-weight: 400;
        background-color: #5e6070;
        color: #fff;

    }

    .heading-md {
        font-size: 28px;
        font-weight: 700 !important;
        line-height: 1.3;
        color: #fff;
    }



}