footer {
    background-image: url('../../assets/img/footer.png');
    max-width: 1900px;
    margin: auto;
    padding: 32px 20px;
    margin-top: 80px;
}

.container {
    width: 100%;


    .footer-elements {
        position: relative;
        min-height: 340px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.socials {
    display: flex;
    flex-wrap: wrap;
        gap: .75rem;
        margin-bottom: 20px;
}

.social-item {
    width: 40px;
    height: 40px;
    display: flex
;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff1;
}


.silde-left {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.true .line-center {
    max-width: 287px;
    display: flex;
    font-size: 14px;
    color: #fff;
    padding: 0.5rem 0.7rem;
    margin-right: 6px;
    justify-content: center;
    border-radius: 2rem;
    background-color: #78140f;
    align-items: center;
    gap: 4px;

    .icon img {
        width: 20px;
        height: 20px;

    }
}

.brand {
    a {
        // height: 60px;

        img {
            width: auto;
            height: 100px;
        }
    }

}

.note {
    color: #aaa;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
}

@media screen and (min-width: 60em) {

    .silde-left {
        display: block;
        
    }


}