.search-result {
    background-color: rgba(15, 17, 26, .95);
    width: 310px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    /* tránh nội dung tràn */
    height: 48rem;

}

.show-group .group-title {
    font-size: .9em;
    color: #aaa;
    margin-bottom: .75rem;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    justify-content: space-between;
}

.group-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 279px;
}



.h-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 10px;
    border-radius: 0.4rem;


    .thumb {
        flex-grow: 0;

        img {
            width: 52px;
            height: 68.4px;
            object-fit: cover;
            border-radius: 0.2rem;
        }
    }

    .info {
        flex-grow: 1;

        .alias-title {
            color: #aaa;
            font-size: .9em;
        }

    }
}

.item-title,
.alias-title {
    margin-bottom: .4rem;
}

.alias-title,
.item-title {
    font-weight: 400;
    line-height: 1.5;

    h4 {
        margin-top: -5px;
        font-size: 13px;
        font-weight: 400;
    }
}