 .cards-row {
     width: 100%;
 padding: 0 24px;

     .row-header {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         gap: 1rem;
         position: relative;
         min-height: 44px;
         margin-bottom: 1.2rem;

         .category-name {
             line-height: 1.4;
             font-weight: 600;
             margin: 0;
             color: #ffff;
             text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
         }
     }

     .row-content {
         position: relative;

         .topics-list {
             display: flex;
             overflow-x: auto;
             -webkit-overflow-scrolling: touch;


             &::-webkit-scrollbar {
                 display: none;
             }




             .row-topic {
                 width: 120px;
                 flex-shrink: 0;
                 height: 73px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 border-radius: 8px;
                 /* gap: 8px; */
                 margin: 0 4px 0 0;



                 &:nth-child(1) {
                     background-color: rgb(50, 79, 209);

                 }

                 &:nth-child(2) {
                     background-color: rgb(102, 102, 153);
                 }

                 &:nth-child(3) {
                     background-color: rgb(27, 133, 108);
                 }

                 &:nth-child(4) {
                     background-color: rgb(119, 97, 180);
                 }

                 &:nth-child(5) {
                     background-color: rgb(205, 126, 95);
                 }

                 &:nth-child(6) {
                     background-color: rgb(167, 57, 57);
                 }

                 &:nth-child(7) {
                     background-color: rgb(167, 57, 57);

                 }





             }
         }
     }

     .heading-md {
         color: #fff;
         text-shadow: 0 1px 0 #0002;
         //  font-weight: 700;
         //  font-size: 1.6em;
         line-height: 1.3;
         flex-grow: unset;
         line-height: 1.3;
         font-weight: 600;
     }

     .info {
         display: none;
         font-size: 1.1em !important;
         line-height: 1.3;
         flex-grow: unset;
     }
 }

 /* Tablet: width >= 740px and width < 1024px */
 @media screen and (min-width:46.25em) and (max-width: 63.9375em) {
     .cards-row {
         width: 100%;
         // height: 300px; 
         // padding: 0 20px;

         .row-header {
             display: flex;
             align-items: center;
             justify-content: flex-start;
             gap: 1rem;
             position: relative;
             min-height: 44px;
             margin-bottom: 1.2rem;

             .category-name {
                 line-height: 1.4;
                 font-weight: 600;
                 margin: 0;
                 color: #ffff;
                 text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
             }
         }

         .row-content {
             position: relative;

             .topics-list {
                 display: grid;
                 grid-template-columns: repeat(4, 1fr); // tự động xuống dòng

                 gap: 0.75rem;


                 .row-topic {
                     padding: 1.2rem 2.5rem 1.2rem 1.5rem;
                     border-radius: 0.75rem;
                     overflow: hidden;
                     height: 138px;
                     width: 183px;
                     align-items: center;
                     display: flex;
                     transition: transform 0.3s ease;

                     &:hover {
                         transform: translateY(-10px);

                     }

                     &:nth-child(1) {
                         background-color: rgb(50, 79, 209);

                     }

                     &:nth-child(2) {
                         background-color: rgb(102, 102, 153);
                     }

                     &:nth-child(3) {
                         background-color: rgb(27, 133, 108);
                     }

                     &:nth-child(4) {
                         background-color: rgb(119, 97, 180);
                     }

                     &:nth-child(5) {
                         background-color: rgb(205, 126, 95);
                     }

                     &:nth-child(6) {
                         background-color: rgb(167, 57, 57);
                     }

                     &:nth-child(7) {
                         background-color: rgb(167, 57, 57);

                     }





                 }
             }
         }

         .heading-md {
             color: #fff;
             max-width: 210px;
             text-shadow: 0 1px 0 #0002;
             font-weight: 700;
             font-size: 19px;
             line-height: 1.3;
         }
     }




     .cards-row {
         .info {
             display: block;
             font-size: 14px;
             line-height: 1.3;
             flex-grow: unset;
         }
     }
 }

  /* Pc: width >= 1024px */
 @media screen and (min-width: 60em) {
     .cards-row {
         .info {
             display: block;
             flex-grow: unset;
         }

         width: 100%;

         .row-header {
             display: flex;
             align-items: center;
             justify-content: flex-start;
             gap: 1rem;
             position: relative;
             min-height: 44px;
             margin-bottom: 2rem;

             .category-name {
                font-size: 28px;
                 line-height: 1.4;
                 font-weight: 600;
                 margin: 0;
                 color: #ffff;
                 text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
             }
         }

         .row-content {
             position: relative;

             .topics-list {
                 display: grid;
                 overflow: visible;
                 grid-template-columns: repeat(auto-fit, minmax(238px, 1fr)); // tự động xuống dòng

                 gap: 1.8rem;


                 .row-topic {
                     padding: 1.2rem 2.5rem 1.2rem 1.5rem;
                     border-radius: 0.75rem;
                     height: 152px;
                     align-items: center;
                     display: flex;
                     transition: transform 0.3s ease;
                     width: auto;

                     &:hover {
                         transform: translateY(-10px);

                     }

                     &:nth-child(1) {
                         background-color: rgb(50, 79, 209);

                     }

                     &:nth-child(2) {
                         background-color: rgb(102, 102, 153);
                     }

                     &:nth-child(3) {
                         background-color: rgb(27, 133, 108);
                     }

                     &:nth-child(4) {
                         background-color: rgb(119, 97, 180);
                     }

                     &:nth-child(5) {
                         background-color: rgb(205, 126, 95);
                     }

                     &:nth-child(6) {
                         background-color: rgb(167, 57, 57);
                     }

                     &:nth-child(7) {
                         background-color: rgb(167, 57, 57);

                     }
                 }
             }
         }

         .heading-md {
             color: #fff;
             max-width: 210px;
             text-shadow: 0 1px 0 #0002;
             font-weight: 700;
             font-size: 1.6em;
             line-height: 1.3;
         }
     }

 }