 .cards-row {
     width: 100%;
     // height: 300px; 
     // padding: 0 20px;

     .row-header {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         gap: 1rem;
         position: relative;
         min-height: 44px;
         margin-bottom: 1.2rem;

         .category-name {
             line-height: 1.4;
             font-weight: 600;
             margin: 0;
             color: #ffff;
             text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
         }
     }

     .row-content {
         position: relative;

         .topics-list {
             display: flex;
             overflow-x: auto;
             -webkit-overflow-scrolling: touch;
             padding: 0 16px;


             &::-webkit-scrollbar {
                 display: none;
             }




             .row-topic {
                 width: 120px;
                 flex-shrink: 0;
                 height: 73px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 border-radius: 8px;
                 /* gap: 8px; */
                 margin: 0 4px 0 0;



                 &:nth-child(1) {
                     background-color: rgb(50, 79, 209);

                 }

                 &:nth-child(2) {
                     background-color: rgb(102, 102, 153);
                 }

                 &:nth-child(3) {
                     background-color: rgb(27, 133, 108);
                 }

                 &:nth-child(4) {
                     background-color: rgb(119, 97, 180);
                 }

                 &:nth-child(5) {
                     background-color: rgb(205, 126, 95);
                 }

                 &:nth-child(6) {
                     background-color: rgb(167, 57, 57);
                 }

                 &:nth-child(7) {
                     background-color: rgb(167, 57, 57);

                 }





             }
         }
     }

     .heading-md {
         color: #fff;
         //  max-width: 210px;
         text-shadow: 0 1px 0 #0002;
         //  font-weight: 700;
         //  font-size: 1.6em;
         line-height: 1.3;
         flex-grow: unset;
         line-height: 1.3;
         font-weight: 600;
     }

     .info {
         display: none;
         font-size: 1.1em !important;
         line-height: 1.3;
         flex-grow: unset;
     }
 }