 .cards-row {
            width: 100%;
            // height: 300px; 
            // padding: 0 20px;

            .row-header {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                position: relative;
                min-height: 44px;
                margin-bottom: 1.2rem;

                .category-name {
                    line-height: 1.4;
                    font-weight: 600;
                    margin: 0;
                    color: #ffff;
                    text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
                }
            }

            .row-content {
                position: relative;

                .topics-list {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(238px, 1fr)); // tự động xuống dòng
                    gap: 1.8rem;


                    .row-topic {
                        padding: 1.2rem 2.5rem 1.2rem 1.5rem;
                        border-radius: 0.75rem;
                        overflow: hidden;
                        // width: 240px; không được cho width ở đây vì đang dùng auto-fit: nó sẽ tự giãn đều hàng khi thay đổi kích thước  
                        height: 152px;
                        align-items: center;
                        display: flex;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: translateY(-10px);

                        }

                        &:nth-child(1) {
                            background-color: rgb(50, 79, 209);

                        }

                        &:nth-child(2) {
                            background-color: rgb(102, 102, 153);
                        }

                        &:nth-child(3) {
                            background-color: rgb(27, 133, 108);
                        }

                        &:nth-child(4) {
                            background-color: rgb(119, 97, 180);
                        }

                        &:nth-child(5) {
                            background-color: rgb(205, 126, 95);
                        }

                        &:nth-child(6) {
                            background-color: rgb(167, 57, 57);
                        }

                        &:nth-child(7) {
                            background-color: rgb(167, 57, 57);

                        }





                    }
                }
            }

            .heading-md {
                color: #fff;
                max-width: 210px;
                text-shadow: 0 1px 0 #0002;
                font-weight: 700;
                font-size: 1.6em;
                line-height: 1.3;
            }
        }