.top-slide {
    .img-mask {
        width: 100%;
        height: auto;
        object-fit: cover;
        opacity: 1;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        transition: opacity 0.6s ease-in-out;
        will-change: opacity;
    }

    .fade-out {
        opacity: 0;
    }

    .safe-area {

        .slide-content {


            .media-item .media-title-image {
                max-width: 500px;
                max-height: 130px;

                h3 {
                    font-size: 1.5rem;
                }

                img {
                    height: 130px;
                }
            }


            .title-alias-title {
                text-align: center;

                a {
                    color: #ffffff;
                }
            }

            .description {
                font-size: 1em;
                line-height: 1.6;
                color: #fff;
                text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
                font-weight: 400;
                margin-bottom: 2rem;
            }

            .touch {
                display: none;
                bottom: 0;
            }

            .item {
                height: 50px;
                min-width: 68px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding: 0 .2rem;
                gap: .3rem;

                &:hover {
                    color: #ffd875;
                    background-color: #ffffff05;
                }
            }

            .swiper {
                .slide-wrapper {

                    width: 100%;
                }



                .swiper-slide {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    position: relative;
                    border: 2px solid rgba(255, 255, 255, 0.1411764706);
                    border-radius: 50%;
                    overflow: hidden;
                    transform: scale(0.95);
                    transition: all 1s ease;



                    &.active {
                        border-color: #ffd875;
                        transform: scale(1.05);
                        box-shadow: 0 0 10px rgba(255, 216, 117, 0.5);
                    }

                    img {
                        width: 100% !important;
                        height: 100% !important;
                        object-fit: cover;
                        transition: opacity 0.3s ease;
                    }

                }

            }

            .swiper-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }






        }

        .tag-imdb {

            line-height: 18px;
            padding: 0 .25rem;
        }
    }




}

.fade-out {
    opacity: 0;
}


.hl-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 6px 0;

    &.mb-4 {
        display: none;
    }
}


.test {
    position: relative;
}




.abc {
    display: grid;

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        inset: 0; // Viết tắt của top, right, bottom, left = 0
        // Lớp phủ trên ảnh
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.95), transparent 40%);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        mix-blend-mode: multiply;
        // width: 380rem;
        margin: 0 auto;
        /* trộn vào ảnh */
        // pointer-events: none;
    }

}

.safe-area {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 10;
}

.description {
    display: none;
    font-size: 1em;
    line-height: 1.6;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    font-weight: 400;
    margin-bottom: 2rem;
}

.safe-area {
    display: flex;
    // align-items: center;
    /* căn giữa theo chiều dọc */
    justify-content: center;
    align-items: end;
    /* căn giữa theo chiều ngang */
    height: 100%;
    /* bắt chiều cao theo .abc */
}

.top-slide {
    position: relative;
    z-index: 1; // hoặc bỏ luôn
}

/* Tablet: width >= 740px and width < 1024px */
@media screen and (min-width:46.25em) and (max-width: 63.9375em) {

    .abc {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: #202331;
    }

    .top-slide {
        position: relative;
        z-index: 1;
        margin: 0 auto 10px;
        overflow: hidden;
        z-index: 2;
        align-items: flex-end;

        .slide-wrapper {
            position: relative;
            z-index: 1;
            max-width: 1900px;

        }

        .img-mask {
            width: 100%;
            height: auto;
            object-fit: cover;
            opacity: 1;
            transition: opacity 0.6s ease-in-out;
            will-change: opacity;
            grid-column: 1 / 4;
            grid-row: 1 /4;
        }

        .fade-out {
            opacity: 0;
        }

        .safe-area {
            grid-column: 1 / 3;
            grid-row: 1 / 4;

            .slide-content {
                padding: 30px;
                width: 600px;
                height: auto;
                position: relative;
                padding: 18.5rem 0 10rem 1.2rem;

                .media-item {
                    padding: 8px;
                    border-radius: 12px;

                    background-color: hsl(0deg 14.23% 20.7% / 30%);
                }

                .media-item .media-title-image {
                    max-width: 500px;
                    max-height: 130px;

                    img {
                        height: 130px;
                    }
                }

                .title-alias-title {
                    font-size: 3.5rem;
                    line-height: 1.5;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    text-align: start;

                    a {
                        color: #ffffff;
                    }
                }

                .description {
                    display: block;
                }

                .hl-tags {

                    justify-content: start;

                }

                .description {
                    font-size: 16px;
                    line-height: 1.6;
                    color: #fff;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
                    font-weight: 400;
                    margin-bottom: 2rem;
                }

                .touch {
                    display: block;
                    position: absolute;
                    bottom: 30px;
                    align-items: center;
                    gap: 2rem;

                    .button-play {
                        border-radius: 289px;
                        padding: 12px;
                        display: inline-flex;
                        width: 60px;
                        height: 60px;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                        background: linear-gradient(39deg, rgba(254, 207, 89, 1), rgba(255, 241, 204, 1));

                        &:hover {
                            box-shadow: 0 0 15px rgba(254, 207, 89, 1);
                        }
                    }

                    .icon-play {
                        color: #000;
                        width: 16px;
                        height: 23px;
                    }
                }

                .touch-group {
                    display: inline-flex;
                    align-items: center;
                    border: 2px solid #ffffff10;
                    border-radius: 30px;
                    overflow: hidden;

                }

                .touch-group {
                    border: 1px solid #ffffff10;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 3;
                        width: 1px;
                        height: 50px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #ffffff10;

                    }

                    &:hover {
                        border: 1px solid #ffff;
                    }

                }

                .item {
                    height: 50px;
                    min-width: 68px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    padding: 0 .2rem;
                    gap: .3rem;

                    &:hover {
                        color: #ffd875;
                        background-color: #ffffff05;
                    }
                }

                .swiper {
                    position: absolute;
                    left: 70%;
                    bottom: 20px;
                    transform: none;
                    z-index: 20;

                    .swiper-wrapper {
                        position: relative;
                        width: auto;
                        height: auto;
                        z-index: 20;
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        transition: transform 0.3s ease;
                    }

                    .swiper-slide {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        cursor: pointer;
                        position: relative;
                        border: 2px solid #ffffff24;
                        overflow: hidden;
                        transform: scale(.95);
                        transition: all 1s ease;

                        &.active {
                            border-color: #ffd875;
                            transform: scale(1.05);
                            box-shadow: 0 0 10px rgba(255, 216, 117, 0.5);
                        }

                        img {
                            width: 100% !important;
                            height: 100% !important;
                            object-fit: cover;
                            transition: opacity 0.3s ease;
                        }
                    }
                }
            }
        }
    }

    .title-alias-title {
        a {
            font-size: 24px;
            line-height: 1.3;
            margin-bottom: .5rem;
            font-weight: 700;
            text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
            color: #fff;

        }
    }
}

/* Pc: width >= 1024px */
@media screen and (min-width: 60em) {

    .top-slide {
        position: relative;
        height: 760px;

        z-index: 1;
        // box-shadow: -500px 0 150px rgba(0, 0, 0, 0.5), 500px 0 150px rgba(0, 0, 0, 0.5);
        max-width: 1900px;
        margin: 0 auto;
        overflow: hidden;
        z-index: 2;
        align-items: flex-end;





        .slide-wrapper {
            position: relative;
            z-index: 1;
            height: 760px;
            max-width: 1900px;

        }


        .img-mask {
            width: 100%;
            height: auto;
            object-fit: cover;

        }

        .safe-area {
            position: absolute;
            z-index: 10;
            display: flex;
            bottom: -68%;
            left: 22%;
            transform: translate(-50%, -50%);
            width: 100%;
            max-width: 660px;
            align-items: center;

            .slide-content {
                padding: 30px;
                width: 600px;
                height: 502px;
                padding-top: 5.5rem;

                position: relative;


                .media-item .media-title-image {
                    max-width: 500px;
                    max-height: 130px;

                    img {
                        height: 130px;
                    }
                }

                .hl-tags {

                    justify-content: start;

                }

                .title-alias-title {
                    text-align: start;
                    font-size: 3.5rem;
                    line-height: 1.5;
                    font-weight: 400;
                    margin-bottom: 1rem;

                    a {
                        color: #ffffff;
                    }
                }



                .description {
                    display: block;
                    font-size: 1em;
                    line-height: 1.6;
                    color: #fff;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
                    font-weight: 400;
                    margin-bottom: 2rem;
                }

                .touch {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    position: absolute;
                    top: 50%;

                    .button-play {
                        border-radius: 289px;
                        padding: 12px;
                        display: inline-flex;
                        width: 70px;
                        height: 70px;
                        align-items: center;
                        justify-content: center;
                        background: linear-gradient(39deg, rgba(254, 207, 89, 1), rgba(255, 241, 204, 1));

                        &:hover {
                            box-shadow: 0 0 15px rgba(254, 207, 89, 1);
                        }
                    }

                    .icon-play {
                        color: #000;
                        width: 21px;
                        height: 28px;
                    }
                }

                .touch-group {
                    display: inline-flex;
                    align-items: center;
                    border: 2px solid #ffffff10;
                    border-radius: 30px;
                    overflow: hidden;



                }

                .touch-group {
                    border: 1px solid #ffffff10;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 3;
                        width: 1px;
                        height: 50px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #ffffff10;

                    }

                    &:hover {
                        border: 1px solid #ffff;

                    }


                }


                .item {
                    height: 50px;
                    min-width: 68px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    padding: 0 .2rem;
                    gap: .3rem;

                    &:hover {
                        color: #ffd875;
                        background-color: #ffffff05;
                    }
                }

                .swiper {
                    position: absolute;
                    right: -50%;
                    bottom: 20px;
                    transform: translate(100%, 0);

                    .swiper-wrapper {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        display: flex;
                        transition-property: transform; // Tức là chỉ khi có phần tử thay đổi dịch chuyển, xoay, phóng to thủ nhở (transform) thì mới chạy hiệu ứng mượt


                    }

                    .swiper-slide {
                        width: 65px;
                        height: 45px;
                        cursor: pointer;
                        position: relative;
                        border: 2px solid #ffffff24;
                        border-radius: .5rem;
                        overflow: hidden;
                        transform: scale(.95);

                        img {
                            width: 100% !important;
                            height: 100% !important;
                            object-fit: cover;
                        }

                        &:hover {
                            border-color: #fff !important;
                        }
                    }

                }






            }
        }



    }

    .test {
        position: relative;
    }

    .test::after {
        content: "";
        position: absolute;
        z-index: 1;
        inset: 0; // Viết tắt của top, right, bottom, left = 0

        // Lớp phủ trên ảnh
        background:
            linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 50%),
            linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent 50%),
            linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent 50%),
            linear-gradient(to right, rgba(252, 0, 0, 0.8), transparent 50%);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        mix-blend-mode: multiply;
        width: 380rem;
        margin: 0 auto;
        /* trộn vào ảnh */
        pointer-events: none;
    }

    .abc {
        display: grid;

        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            inset: 0; // Viết tắt của top, right, bottom, left = 0
            // Lớp phủ trên ảnh
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 20%),
                linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent 20%),
                linear-gradient(to left, rgba(0, 0, 0, 0.95), transparent 20%),
                linear-gradient(to right, rgba(0, 0, 0, 0.95), transparent 80%);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            mix-blend-mode: multiply;
            // width: 380rem;
            margin: 0 auto;
            /* trộn vào ảnh */
            // pointer-events: none;
        }

    }

}