.top-slide {

    .img-mask {
        width: 100%;
        height: auto;
        object-fit: cover;
        opacity: 1;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        transition: opacity 0.6s ease-in-out;
        will-change: opacity;
    }
    .fade-out {
        opacity: 0;
    }



    .safe-area {

        .slide-content {



            .media-item .media-title-image {
                max-width: 500px;
                max-height: 130px;

                h3 {
                    font-size: 1.5rem;
                }

                img {
                    height: 130px;
                }
            }


            .title-alias-title {
                // font-size: 3.5rem;
                // line-height: 1.5;
                // font-weight: 400;
                // margin-bottom: 1rem;
                text-align: center;

                a {
                    color: #ffffff;
                }
            }



            .description {
                font-size: 1em;
                line-height: 1.6;
                color: #fff;
                text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
                font-weight: 400;
                margin-bottom: 2rem;
            }

            .touch {
                display: none;
                position: absolute;
                bottom: 18px;
                /* left: 30px; */
                // display: flex;
                align-items: center;
                gap: 2rem;

                .button-play {
                    border-radius: 289px;
                    padding: 12px;
                    display: inline-flex;
                    width: 70px;
                    height: 70px;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(39deg, rgba(254, 207, 89, 1), rgba(255, 241, 204, 1));

                    &:hover {
                        box-shadow: 0 0 15px rgba(254, 207, 89, 1);
                    }
                }

                .icon-play {
                    color: #000;
                    width: 21px;
                    height: 28px;
                }
            }

            .touch-group {
                display: inline-flex;
                align-items: center;
                border: 2px solid #ffffff10;
                border-radius: 30px;
                overflow: hidden;



            }

            .touch-group {
                border: 1px solid #ffffff10;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    z-index: 3;
                    width: 1px;
                    height: 50px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #ffffff10;

                }

                &:hover {
                    border: 1px solid #ffff;

                }


            }


            .item {
                height: 50px;
                min-width: 68px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding: 0 .2rem;
                gap: .3rem;

                &:hover {
                    color: #ffd875;
                    background-color: #ffffff05;
                }
            }

            .swiper {
                .slide-wrapper {

                    width: 100%;
                }



                .swiper-slide {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    position: relative;
                    border: 2px solid rgba(255, 255, 255, 0.1411764706);
                    border-radius: 50%;
                    overflow: hidden;
                    transform: scale(0.95);
                    transition: all 1s ease;



                    &.active {
                        border-color: #ffd875;
                        transform: scale(1.05);
                        box-shadow: 0 0 10px rgba(255, 216, 117, 0.5);
                    }

                    img {
                        width: 100% !important;
                        height: 100% !important;
                        object-fit: cover;
                        transition: opacity 0.3s ease;
                    }

                }

            }

            .swiper-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }






        }

        .tag-imdb {
            font-size: 10px;
            line-height: 18px;
            padding: 0 .25rem;
        }
    }




}
.fade-out {
    opacity: 0;
}
.tag-model {}

.hl-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 6px 0;

    &.mb-4 {
        display: none;
    }
}


.test {
    position: relative;
}




.abc {
    display: grid;
    // height: 358px;

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        inset: 0; // Viết tắt của top, right, bottom, left = 0

        // Lớp phủ trên ảnh
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.95), transparent 40%);


        background-repeat: no-repeat;
        background-size: 100% 100%;
        mix-blend-mode: multiply;
        // width: 380rem;
        margin: 0 auto;
        /* trộn vào ảnh */
        // pointer-events: none;
    }

}

.safe-area {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 10;
    justify-content: center;
}

.description {
    display: none;
}

.safe-area {
    display: flex;
    // align-items: center;
    /* căn giữa theo chiều dọc */
    justify-content: center;
    align-items: end;
    /* căn giữa theo chiều ngang */
    height: 100%;
    /* bắt chiều cao theo .abc */
}
.top-slide {
  position: relative;
  z-index: 1; // hoặc bỏ luôn
}
